html{
    background-image: url(../Imgs/foods.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 100%;
    overflow-x: hidden
}

body{
    color: white;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: gray;
    opacity: 85%;
    height: 60px;
    text-align: right;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;   
}

a{
    padding-right: 70px;
    font-size: 20pt;
    color: white;
}

main{
    background-color: gray;
    opacity: 85%;
    margin-left: 30%;
    margin-right: 30%;
}

img{
    width: 100px;
    height: 100px;
    padding-right: 60px;
}

ul{
    list-style-type: none;
    padding: 10px;
    font-size: 30pt;
}

li{
    padding: 5px;
    font-size: 20pt;
    display: flex;
    align-items:center;
}

footer{
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: gray;
    opacity: 85%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}